/* ---------- farve variabler ---------- */
:root {
  --nav-bgcolor: #e86060;
  --s1-bgcolor: ;
  --s2-bgcolor: #e1f6f2;
  --s3-bgcolor: #d4f2ff;
  --s4-bgcolor: #ffefd4;
  --s5-bgcolor: #f8d6ff;
  --footer-bgcolor: #0c1380;

  --nav-text-color: #f2f2f2;
  --s2-heading-color: #47e6c7;
  --s3-heading-color: #29bfff;
  --s4-heading-color: #ffbd4d;
  --s5-heading-color: #e265fb;
  --footer-text-color: #f2f2f2;
}

/* ---------- fonter ---------- */
h1 {
  color: #141414;
  font-family: bebas-neue-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: clamp(4rem, 2.72rem + 5.13vw, 6rem);
}

h2 {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #141414;
}

p {
  font-family: "Roboto", sans-serif;
  color: #141414;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

/* ---------- Globale regler ---------- */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

/* NOTE: sætter en øvre grænse på 1024px, så der
er whitespace ude til siderne, når skærmbredden er
over 1024px, og 16px når man er på mobil */
.responsive-grid-layout {
  display: grid;
  grid-template-columns: 16px auto minmax(0, 1024px) auto 16px;
  scroll-margin-top: 36px;
}
/* placerer alt indhold i den rigtige kolonne */
.responsive-grid-layout > * {
  grid-column: 3/4;
}
/* NOTE færdig */

section:not(#section_1) {
  padding-block: 64px;
}

.btn {
  border: none;
  width: max-content;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--nav-text-color);
  cursor: pointer;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn::after {
  content: "→";
  padding-inline: 8px;
  transition: padding-inline 0.3s;
}

.btn:hover::after {
  padding-inline: 16px 0;
}

/* ---------- HEADER ---------- */

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

#nav-logo {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  color: var(--nav-text-color);
}

#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--nav-bgcolor);
}

#nav-list {
  display: flex;
  gap: 3rem;
  place-items: center;
}

.nav-item {
  list-style: none;
}

.nav-item:hover {
  filter: brightness(0.925);
}

.nav-item a,
#nav-logo {
  text-decoration: none;
}

.nav-item a {
  font-family: bebas-neue-pro, sans-serif;
  font-size: 1.5rem;
  color: var(--nav-text-color);
}

#burgermenu {
  padding: 0.5rem;
  height: 3rem;
  aspect-ratio: 1/1;
  display: grid;
  align-content: center;
  place-self: center;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--nav-text-color);
  display: none;
  z-index: 20;
}

@media (max-width: 625px) {
  #burgermenu {
    display: block;
  }

  #nav-list {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    flex-direction: column;
    margin-top: 86.4px;
    gap: 0;
    background-color: #14141488;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item a {
    width: 100%;
    padding-block: 3rem;
    display: inline-block;
    text-align: center;
  }

  .nav-item:nth-child(2n) a {
    background-color: #14141422;
  }
}

/* ---------- SECTION 1 ---------- */

@media (min-width: 801px) {
  #section_1 {
    --repeat: 3;
  }
}

#section_1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(var(--repeat, auto-fit), minmax(200px, 1fr));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  perspective: 3000px;
  aspect-ratio: 1/1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
  transition-delay: 0.1s;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: #141414;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(150px, 300px) minmax(
      20px,
      1fr
    );
  grid-template-rows: 1fr 2fr 1fr;
}

.flip-card-back {
  background-color: #e1f6f2;
  color: white;
  transform: rotateX(180deg);
  text-align: center;
  display: grid;
  place-content: center center;
}
.flip-card-back p {
  color: #47e6c7;
  font-family: bebas-neue-pro, sans-serif;
  font-size: 1.8rem;
}

.flip-card-text {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  place-content: center center;
}

.flip-card-title,
.flip-card-desc {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.flip-card-desc {
  font-size: 1rem;
  line-height: 1.25rem;
}

.flip-card-1 .flip-card-front {
  background-image: url("images/denisova.svg");
  background-size: cover;
}

.flip-card-2 .flip-card-front {
  background-image: url("images/betty-b.webp");
  background-size: cover;
}

.flip-card-3 .flip-card-front {
  background-image: url("images/kinkyclassics.svg");
  background-size: cover;
}

.flip-card-4 .flip-card-front {
  background-image: url("images/4kvinder.webp");
  background-size: cover;
  background-position: center center;
}

.flip-card-5 .flip-card-front {
  background-image: url("images/pinkpavillon.svg");
  background-size: cover;
}

.flip-card-6 .flip-card-front {
  background-image: url("images/pink-pavillon.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  .flip-card-1 {
    order: 1;
  }

  .flip-card-4 {
    order: 2;
  }

  .flip-card-6 {
    order: 3;
  }

  .flip-card-3 {
    order: 4;
  }

  .flip-card-5 {
    order: 5;
  }

  .flip-card-2 {
    order: 6;
  }
}

@media screen and (max-width: 400px) {
  .flip-card-1 {
    order: 1;
  }

  .flip-card-4 {
    order: 2;
  }

  .flip-card-5 {
    order: 3;
  }

  .flip-card-2 {
    order: 4;
  }

  .flip-card-3 {
    order: 5;
  }

  .flip-card-6 {
    order: 6;
  }
}

/* ---------- h1_section ---------- */

#h1_section {
  display: grid;
  place-items: center center;
  padding-block: 2rem !important;
  overflow-x: hidden;
}

#h1_section h1 {
  width: fit-content;
  position: relative;
}

h1::before,
h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #141414;
  position: absolute;
}

h1::before {
  top: 50%;
  left: -110%;
}

h1::after {
  top: 50%;
  right: -110%;
}

/* ---------- SECTION 2 ---------- */

#section_2 {
  background-color: var(--s2-bgcolor);
}

#section_2 h2 {
  color: var(--s2-heading-color);
}

#section_2 .video {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 24px;
}

#section_2-article {
  display: grid;
  place-content: center center;
}

@media screen and (max-width: 800px) {
  #section_2-article {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

/* ---------- SECTION 3 ---------- */

#section_3 {
  background-color: var(--s3-bgcolor);
}

#section_3 h2 {
  color: var(--s3-heading-color);
}

.double-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 48px;
}

#price-list {
  transform: translateX(1rem);
  margin-bottom: 32px;
}

.item-price {
  margin-block: 0.5rem;
}

.btn-s3 {
  background-color: var(--s3-heading-color);
}
#section_3 h3 {
  color: #29bfff;
}

/* ---------- SECTION 4 ---------- */

@media (max-width: 840px) {
  .triple-columns {
    --repeat: 1;
  }
}

#section_4 {
  background-color: var(--s4-bgcolor);
}

#section_4 h2 {
  color: var(--s4-heading-color);
}

.triple-columns {
  display: grid;
  grid-template-columns: repeat(var(--repeat, auto-fit), minmax(256px, 1fr));
  gap: 16px;
}

.event-card {
  cursor: pointer;
}

.event-card img {
  aspect-ratio: 5/3;
}

.event-card p {
  font-style: italic;
  font-size: 0.8rem;
}

.img-hanin {
  object-position: 50% 35%;
}

.img-betty {
  object-position: top center;
}

.btn-s4 {
  background-color: var(--s4-heading-color);
}

/* ---------- SECTION 5 ---------- */

#section_5 {
  background-color: var(--s5-bgcolor);
}

#section_5 h2 {
  color: var(--s5-heading-color);
}

#section_5 img {
  margin-inline: auto;
  padding-bottom: 24px;
}

.quote {
  font-size: 1.5rem;
  font-family: bebas-neue-pro, sans-serif;
  padding-inline: 3rem 0;
  position: relative;
  font-style: italic;
}

.quote::before {
  content: "“";
  color: var(--s5-heading-color);
  font-size: 6em;
  height: 1.5rem;
  position: absolute;
  top: 3rem;
  left: -1rem;
}

/* ---------- Footer ---------- */

footer {
  padding-block: 32px;
  background-color: var(--footer-bgcolor);
}

h2.footer-title {
  color: var(--footer-text-color);
  font-size: 2rem;
  padding-bottom: 2rem;
}

footer p {
  color: var(--footer-text-color);
  padding-bottom: 1rem;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.icon {
  aspect-ratio: 1/1;
  width: 48px;
  background-size: 100%;
}

.icon-facebook {
  background-image: url("images/Circled_Facebook.webp");
}

.icon-instagram {
  background-image: url("images/Circled_Instagram.webp");
}

.icon-twitter {
  background-image: url("images/Circled_Twitter.webp");
}

.icon-youtube {
  background-image: url("images/Circled_Youtube.webp");
}
